.mainNav {
    width: 100%;
    background-color: var(--primary-color);
    padding-left: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menuIcon {
    display: none;
    font-size: 1.5rem;
    margin-right: 1rem;
    color: var(--color-white);
    cursor: pointer;
}

.navLinks {
    list-style: none;
    display: flex;
    /* Always show links on medium and larger screens */
    gap: 1rem;
}

.navLinks.showMenu {
    display: flex;
    /* Show links when toggled on mobile */
    flex-direction: column;
    background-color: var(--primary-color);
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 10;
    padding: 1rem;
}

.navLinks li a {
    text-transform: capitalize;
    padding: 0.5rem 1rem;
    color: var(--color-white);
    text-decoration: none;
}

.logo {
    font-size: 1.5rem;
    color: var(--color-white);
}

.subNav {
    width: 30%;
    padding-right: 5%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.subNav ul li a {
    color: var(--primary-color);
    padding-left: 1.5rem;
    text-decoration: none;
}

/* Responsive Styles */
@media (max-width: 950px) {
    .mainNav {
        flex-wrap: wrap;
    }

    .menuIcon {
        display: block;

    }

    .navLinks {
        display: none;

        flex-direction: column;
        background-color: var(--primary-color);
        width: 100%;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 10;
        padding: 1rem;
    }

    .navLinks.showMenu {
        display: flex;

    }

    .mainNav ul li a {
        color: var(--color-white);
    }

    .subNav {
        display: none;

    }
}

@media (min-width: 951px) {

    .navLinks {
        display: flex;
    }

    .menuIcon {
        display: none;

    }

    .subNav {
        display: flex;

    }
}