/* services  */
.container {
    padding: 0 5%;
}

.description {
    height: 50vh;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.headingSecondary {
    font-size: 2rem;
    font-weight: 400;
    line-height: 1;
    color: var(--primary-color);
    margin-bottom: 1.5rem;
}

.headingTertiary {
    font-size: 1.5rem;
    color: var(--primary-color);
    margin-bottom: .5rem;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 4rem;
    text-align: center;
    margin-top: 4rem;
}

.card {
    margin-bottom: 2rem;
}

.card .icon img {
    width: 7rem;
    height: auto;
    margin-bottom: 3rem;
}

@media (max-width: 950px) {
    .container {
        padding-top: 2rem;
    }
}